/* 予算セクション */
/* .budget-list {
  padding: 40px 20px;
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 40px;
} */


/* 予算未登録 */
.no-budget-message {
  text-align: center;
  padding: 20px;
}

.no-budget-message p {
  font-size: 18px;
  margin-bottom: 20px;
}