/* ヘッダー */
.header {
  background-color: #004b87;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  color: #ffffff;
  font-size: 24px;
  text-decoration: none;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-link {
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}


/* フッター */
.footer {
  background-color: #004b87;
  color: #ffffff;
  text-align: center;
  padding: 20px 0;
  bottom: 0;
  width: 100%;
}

.footer p {
  margin: 0;
}

/* トップページ */
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.section {
  padding: 40px 20px;
  margin: 20px 0;
}

.section h2 {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}

/* 特徴セクション */
.features {
  height: 400px;
  padding: 40px 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  margin: 40px 20px;
}

.features h2 {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}

.feature-list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.feature-item {
  flex-basis: calc(33.3333% - 20px);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.feature-item h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.feature-item p {
  font-size: 16px;
  margin: 0;
}

/* 今年の家計簿投稿一覧セクション */
.household-accounts-list, .tips-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.household-account, .tip {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex-basis: calc(33.3333% - 20px);
  box-sizing: border-box;
}

.household-account h3, .tip h3 {
  margin-top: 0;
}

.household-account p, .tip p {
  margin: 10px 0;
}

.btn {
  display: inline-block;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}

.btn-secondary {
  background-color: #004b87;
  color: #ffffff;
}

.btn-secondary:hover {
  background-color: #003366;
}

/* 家計改善のコツセクション */
.post-section {
  height: 400px;
  margin: 40px 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
}

.post-text {
  text-align: left;
  max-width: 70%;
}

.main-title {
  font-size: 36px;
  margin: 0 0 10px;
}

.sub-title {
  font-size: 18px;
  margin: 0;
}

.post-button-container {
  text-align: right;
  flex-shrink: 0;
}

.post-button {
  background-color: #1b65a1;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
  display: inline-block;
}

.post-button:hover {
  background-color: #004b87;
}

/* 家計簿投稿一覧 */
.household-accounts ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.household-accounts-list {
  border-radius: 8px;
  padding: 20px;
  flex-basis: calc(33.3333% - 20px);
  box-sizing: border-box;
}

.household-accounts-list .account-date {
  display: block;
  margin-bottom: 10px;
  text-decoration: underline;
}

.household-accounts-list .account-total, 
.household-accounts-list .account-description,
.household-accounts-list .account-link {
  display: block;
  margin-bottom: 10px;
}

/* //////////////////////////////////////////
下層ページ
//////////////////////////////////////////*/

/* 家計簿新規投稿ページ */
.household-account-form-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-text {
  font-weight: bold;
}

.month-select, .year-select {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 20px;
}

.form-title {
  text-align: center;
  margin: 20px 0;
  font-size: 28px;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form-group {
  margin-bottom: 5px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-group textarea {
  resize: vertical;
  min-height: 100px;
}

.divider {
  border: 0;
  border-top: 1px solid #ddd;
  margin: 20px 0;
}

.submit-button {
  display: inline-block;
  background-color: #1b65a1;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  width: 100%;
}

.submit-button:hover {
  background-color: #004b87;
}

/* 家計簿詳細ページ */
.detail-title {
  text-align: center;
  margin: 20px 0;
  font-size: 28px;
}

.details {
  max-width: 800px;
  margin: 60px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.details-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.detail-item {
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.total {
  grid-column: span 2;
  font-weight: bold;
}

.comment-box {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  margin-top: 20px;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.action-left {
  display: flex;
}

.action-right {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.actions .btn {
  margin: 5px;
}

.btn-primary {
  background-color: #007bff;
  color: #ffffff;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-danger {
  background-color: #dc3545;
  color: #ffffff;
}

.btn-danger:hover {
  background-color: #c82333;
}

/* 達成状況 */
.achievement {
  color: green;
  font-weight: bold;
}

.non-achievement {
  color: red;
  font-weight: bold;
}

.achieved {
  color: green;
  font-weight: bold;
}

.not-achieved {
  color: red;
  font-weight: bold;
}

.details {
  position: relative;
}

.achievement-image {
  position: absolute;
  top: -20px;
  right: -20px;
}

.achievement-image img {
  width: 250px;
  height: auto;
}